/Lab1PCI/nbproject/private/
/Lab1PCI/build/
/Lab1PCI/dist/
/PseudoRSFgenerator/PseudoRSFgenerator/nbproject/private/
/PseudoRSFgenerator/PseudoRSFgenerator/build/
/PseudoRSFgenerator/PseudoRSFgenerator/dist/
/RCLab1/nbproject/private/
/RCLab1/build/
/RCLab1/dist/